*{
  background-color: palevioletred;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4 , 50px) ;
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid ;
    column-gap: 20px;
    row-gap: 20px;
    width: 500px;
    height: 500px;
    background-color: palevioletred;
    justify-content: center;
    
  }
  .grid-container > div {
    margin: 0px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item0{
    background-color: PINK;
  }

  .grid-item1{
    background-color: red;
      }

  .grid-item2{
    background-color: blue; 
    }

    .grid-item3{
          background-color: purple;
    }

    .grid-item4{
          background-color: green;
    }

    .grid-item5{
          background-color: lightblue;
    }

    .grid-item6{
        background-color: yellow;
    }

    .grid-item7{
      background-color: pink; 
    }

