
    .grid-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 5px;
        grid-auto-rows: 80px;
        align-items: start;
            
        }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 20px;
        text-align: center;
      }

      
    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        grid-auto-rows: 80px;
        align-items: start;
        @media only screen and (max-width: 600px) {
            body {
              background-color: lightblue;
            }
          }
      }
      .grid-item2 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 20px;
        text-align: center;
      }




#groen{
background-color:green;   
}

#geel{
    background-color:gold;
}

#rood{
    background-color: red;
}

#blauw{
    background-color: blue
}

