*{
background-color: black;
margin: 0;
}

.appel{
    width: 1200px;
    height: 672px;
    clip-path: polygon(
      510px 0px,
      0px 0px,
      0px 672px,
      1200px 672px,
      1200px 0px,
      510px 0px,
      510px 270px,
      700px 270px,
      700px 330px,
      510px 330px
    );
         
         background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/calling_guy.jpg);
         background-size: cover;
         position: relative;
}